.container {
    max-width: 1000px;
    margin: 20px 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

video {
    width: 400px;
    height: 400px;
    border-radius: 8px;
    margin: 20px 0;
    z-index: 1;
    display: block;
    position: relative;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.toggle {
    width: 40px;
    height: 20px;
    background-color: #a2c2d0;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

.toggle.active {
    background-color: #4d6d7a;
}

.toggle:after {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle.active:after {
    transform: translateX(20px);
}

.video-container {
    width: 400px;
    height: 400px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.camera-status {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    z-index: 10;
    text-align: center;
    top: 65%;
    left: 58%;
    transform: translate(-50%, -50%);
}

canvas {
    position: relative;
    bottom: 380px;
    z-index: 999;
    display: block;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}